@model CreatePasswordViewModel
@{ 
    ViewBag.Title = "Create Password.";
}

<div class="container mt-3 p-5 bg-light col-sm-3 rounded">
    <div class="border-bottom">
        <h2>Create Password</h2>
    </div>
    <div class="mt-2">
        <form asp-controller="Account" asp-action="CreatePassword" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.Password"></label>
                <div class="input-group">
                    <input asp-for="@Model.Password" class="form-control" placeholder="Password" />
                    <div class="input-group-append">
                        <button id="passwordBtn" class="btn btn-danger" type="button" title="Show or hide password">
                            <span id="passEyeSlash" class="fa fa-eye-slash icon"></span>
                        </button>
                    </div>
                </div>
                <span asp-validation-for="@Model.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.ConfirmPassword" ></label>
                <div class="input-group">
                    <input asp-for="@Model.ConfirmPassword" class="form-control" placeholder="Confirm Password" />
                    <div class="input-group-append">
                        <button id="confirmPasswordBtn" class="btn btn-danger" type="button" title="Show or hide password">
                            <span id="confirmPassEyeSlash" class="fa fa-eye-slash"></span>
                        </button>
                    </div>
                </div>
                <span asp-validation-for="@Model.ConfirmPassword" class="text-danger"></span>
            </div>
            <div>
                <button type="submit" style="padding:0px;border:none;background:none;">
                    <img asp-append-version="true" src="~/images/CreatePassword.png" alt="Alternate Text"  style="width:35px;height:35px"/>
                </button>
                <a asp-controller="Home" asp-action="Students" class="ml-2">
                    <img asp-append-version="true" src="~/images/back.png" alt="Alternate Text"  style="width:35px;height:35px"/>
                </a>
            </div>
        </form>
    </div>
</div>

@section Scripts{ 

    <script>

        let passwordBtn = document.querySelector('#passwordBtn');
        let passInput = document.querySelector('#Password');
        let confirmPasswordBtn = document.querySelector('#confirmPasswordBtn');
        let confirmPasswordInput = document.querySelector('#ConfirmPassword');

        passwordBtn.addEventListener('click', () =>
        {
            if (passInput.getAttribute('type') === 'password') {
                passInput.setAttribute('type', 'text');
                passwordBtn.firstElementChild.classList = "svg-inline--fa fa-eye fa-w-20 icon";
            } else if (passInput.getAttribute('type') === 'text') {
                passInput.setAttribute('type', 'password');
                passwordBtn.firstElementChild.classList = "svg-inline--fa fa-eye-slash fa-w-20 icon";
            }
        });

        confirmPasswordBtn.addEventListener('click', () =>
        {
            if (confirmPasswordInput.getAttribute('type') === 'password') {
                confirmPasswordInput.setAttribute('type', 'text');
                confirmPasswordBtn.firstElementChild.classList = "svg-inline--fa fa-eye fa-w-20 icon";

            } else if (confirmPasswordInput.getAttribute('type') === 'text') {
                confirmPasswordInput.setAttribute('type', 'password');
                confirmPasswordBtn.firstElementChild.classList = "svg-inline--fa fa-eye-slash fa-w-20 icon";
            }
        });

    </script>

}