@model RegisterViewModel

@{
    ViewBag.Title = "Register";
}
<div class="container col-sm-10 col-lg-8 col-md-10 col-xs-3 col-xl-3 bg-white p-5" style="margin-top:70px;margin-bottom:70px;">
    <div class="text-center">
        <img asp-append-version="true" class="img-fluid" src="~/images/bannertopleft.png" alt="School Logo" style="width:140px; height:140px" />
    </div>
    <div class="card bg-light">
        <div class="card-body text-center pb-auto">
            <h5>Not yet registered?</h5>
        </div>
    </div>
    <div class="card mt-4 bg-light">
        <div class="card-body">
            <form asp-controller="Account" asp-action="Register" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="@Model.UserName" class="font-weight-bold"></label>
                    <input asp-for="@Model.UserName" class="form-control" placeholder="Username"/>
                    <span asp-validation-for="@Model.UserName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Password" class="font-weight-bold"></label>
                    <input asp-for="@Model.Password" class="form-control" placeholder="Password"/>
                    <span asp-validation-for="@Model.Password" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="@Model.ConfirmPassword" class="font-weight-bold"></label>
                    <input asp-for="@Model.ConfirmPassword" class="form-control" placeholder="Confirm password"/>
                    <span asp-validation-for="@Model.ConfirmPassword" class="text-danger"></span>
                    <small>Registration confirmation will be emailed to you.</small>
                </div>
                <div class="form-group text-center">
                    <button style="width:100%" type="submit" class="btn btn-primary mb-4">Register</button>
                    <span class="lead">Already have an account? <a asp-controller="Account" asp-action="login">Sign in</a></span>
                </div>
            </form>
        </div>
    </div>
</div>
