@model EditStudentViewModel

@{
    ViewBag.Title = "Update Student";
    var existingPhoto = "~/images/Students/" + (Model.existingPhotoPath ?? "blank-profile-picture-973460_1280.png");
}

<h2 class="border-bottom mt-4 mb-4">Add Student Information</h2>

<div class="row m-1">
    <div class="col-sm-5">
        <form asp-controller="Home" asp-action="Update" method="post" enctype="multipart/form-data">
            <input hidden asp-for="@Model.existingPhotoPath"/>
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
            </div>
            <div class="form-row">
                <div class="form-group ml-1">
                    <label>Student Name</label>
                    <input asp-for="@Model.FirstName" class="form-control" placeholder="First name" style="height:43px; width:250px;" />
                    <label asp-for="@Model.FirstName"></label>
                    <br />
                    <span asp-validation-for="@Model.FirstName" class="text-danger"></span>
                </div>
                <div class="form-group ml-4 mt-2">
                    <label> </label>
                    <input asp-for="@Model.MiddleName" class="form-control" placeholder="Middle name" style=" height: 43px;width: 250px;" />
                    <label asp-for="@Model.MiddleName"></label>
                    <br />
                    <span asp-validation-for="@Model.MiddleName" class="text-danger"></span>
                </div>
                <div class="form-group ml-4 mt-2">
                    <label> </label>
                    <input asp-for="@Model.LastName" class="form-control" placeholder="Last  name" style="height: 43px;width: 250px;" />
                    <label asp-for="@Model.LastName"></label>
                    <br />
                    <span asp-validation-for="@Model.LastName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group ml-1">
                    <label asp-for="@Model.Address"></label>
                    <input asp-for="@Model.Address" class="form-control" style="height: 43px;width: 250px;" />
                    <span asp-validation-for="@Model.Address" class="text-danger"></span>
                </div>
                <div class="form-group ml-4">
                    <label asp-for="@Model.City"></label>
                    <input asp-for="@Model.City" class="form-control" style="height: 43px;width: 250px;" />
                    <span asp-validation-for="@Model.City" class="text-danger"></span>
                </div>
                <div class="form-group ml-4">
                    <label asp-for="@Model.State"></label>
                    <input asp-for="@Model.State" class="form-control" style="height:43px;width: 250px;" />
                    <span asp-validation-for="@Model.State" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group ml-1">
                    <label asp-for="@Model.Email"></label>
                    <input asp-for="@Model.Email" class="form-control" placeholder="Email" style="height: 43px;width: 250px;
" />
                    <span asp-validation-for="@Model.Email" class="text-danger"></span>
                </div>
                <div class="form-group ml-4">
                    <label asp-for="@Model.PhoneNumber"></label>
                    <input asp-for="@Model.PhoneNumber" class="form-control" style="height:43px;" />
                    <span asp-validation-for="@Model.PhoneNumber" class="text-danger"></span>
                </div>
                <div class="form-group ml-5">
                    <label asp-for="@Model.Age"></label>
                    <input asp-for="@Model.Age" class="form-control" style="height:43px; width:60px;" />
                    <span asp-validation-for="@Model.Age" class="text-danger"></span>
                </div>
                <div class="form-group ml-4">
                    <label asp-for="@Model.BirthDate"></label>
                    <input asp-for="@Model.BirthDate" class="form-control" style="height:43px;" />
                    <span asp-validation-for="@Model.BirthDate" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group ml-1">
                    <label asp-for="@Model.Gender"></label>
                    <input asp-for="@Model.Gender" class="form-control" style="height:43px;width:86px;" />
                    <span asp-validation-for="@Model.Gender" class="text-danger"></span>
                </div>
                <div class="form-group ml-4">
                    <label asp-for="@Model.Grade"></label>
                    <input asp-for="@Model.Grade" class="form-control" style="height:43px; width:60px;" />
                    <span asp-validation-for="@Model.Grade" class="text-danger"></span>
                </div>
                <div class="form-group ml-4">
                    <label asp-for="@Model.Semester"></label>
                    <select asp-for="@Model.Semester" asp-items="@Html.GetEnumSelectList<Semester>()" class="form-control" style="height:43px;">
                        <option>Please select...</option>
                    </select>
                    <span asp-validation-for="@Model.Semester" class="text-danger"></span>
                </div>
                <div class="form-group ml-4">
                    <label asp-for="@Model.EntryYear"></label>
                    <input asp-for="@Model.EntryYear" class="form-control" style="height:43px;" />
                    <span asp-validation-for="@Model.EntryYear" class="text-danger"></span>
                </div>
            </div>
            <div class="custom-file col-sm-6">
                <input asp-for="@Model.PhotoPath" class="custom-file-input" />
                <label asp-for="@Model.PhotoPath" class="custom-file-label"></label>
            </div>
            <br />
            <button type="submit" style="padding:0;border:none;background:none">
                <img src="~/images/submit.png" alt="Alternate Text" style="width:70px;height:70px" />
            </button>
            <a asp-controller="Home" asp-action="Students">
                <img src="~/images/back.png" style="width:50px;height:50px" />
            </a>
        </form>
    </div>

    <div class="col-sm-6">
        <div id="studentPhoto">
            <img asp-append-version="true" id="studentImg" class="img-fluid" src="@existingPhoto" alt="Please upload a photo" style="height:480px;width:500px;" />
        </div>
    </div>

</div>

@section Scripts{

    <script>
        $(document).ready(function () {
            $('#PhotoPath').change(function () {
                let fileName = $(this)[0].files[0].name;
                $('label[for="PhotoPath"]').html(`${fileName}`);
                $('#studentImg').attr('src', `/images/${fileName}`);
            });
        });
    </script>

}