@model EditRoleViewModel
@{
    ViewBag.Title = "Edit Role";
}

<div class="container bg-light p-5 mt-3">
    <div class="border-bottom">
        <h1>Edit Role</h1>
    </div>

    <div>
        <form asp-controller="Administration" asp-action="EditRole" asp-route-roleId="@Model.RoleID" method="post">
            <div class="form-group">
                <label asp-for="@Model.RoleName"></label>
                <input asp-for="@Model.RoleName" class="form-control mb-3" style="width:18rem;margin-bottom: 4px;" />
            </div>
            <div class="form-group">
                <p>Id: @Model.RoleID</p>
            </div>
            <button type="submit" style="border:none;padding:0;background:none;">
                <img asp-append-version="true" src="~/images/submit.png" style="width:35px;height:35px" />
            </button>
            <a asp-controller="Administration" asp-action="Roles" class="ml-2">
                <img asp-append-version="true" src="~/images/back.png" alt="Alternate Text" style="width:35px;height:35px" />
            </a>
        </form>

    </div>

    <div>
        <table class="table table-hover mt-3 table-striped" style="width:18rem;">
            <thead>
                <tr>
                    <td><h3>Users in this role</h3></td>
                </tr>
            </thead>
            @if (Model.UserNames.Any())
            {
                foreach (var user in Model.UserNames)
                {
                    <tr>
                        <td><h6>@user</h6></td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td>
                        <h6>There are currently no users in this role.</h6>
                    </td>
                </tr>
            }
        </table>
        <a asp-controller="Administration" asp-action="AddUsersInRole" asp-route-roleId="@Model.RoleID">
            <img asp-append-version="true" src="~/images/AddUser.png" alt="Alternate Text" style="width:35px;height:35px" />
        </a>

    </div>
</div>
