@model IEnumerable<IdentityRole> 

@{ 
    ViewBag.Title = "Roles";
}

<h1 class="mt-3">Roles</h1>
<a asp-controller="Administration" asp-action="CreateRole">
    <img src="~/images/AddRole.png" alt="Alternate Text" style="height:50px;width:50px;"/>
</a>
<table class="table table-hover table-striped mt-3" style="width:70rem;">
    <thead>
        <tr>
            <td>
                <h4>Role ID</h4>
            </td>
            <td>
                <h4>Role Name</h4>
            </td>
            <td class="text-center">
                <h4>Edit Role</h4>
            </td>
            <td class="text-center">
                <h4>Delete Role</h4>
            </td>
        </tr>
    </thead>
    <tr>
        @if (Model.Any())
        {
            foreach (var role in Model)
            {
            <tr>
                <td>
                    <h6>@role.Id</h6>
                </td>
                <td>
                    <h6>@role.Name</h6>
                </td>
                <td class="text-center">
                    <a asp-controller="Administration" asp-action="EditRole" asp-route-roleId="@role.Id">
                        <img src="~/images/edit.png" style="width:30px; height:30px" />
                    </a>
                </td>
                <td class="text-center">
                    <form asp-controller="Administration" asp-action="DeleteRole" asp-route-roleId="@role.Id" method="post">

                        <span id="deleteSpan_@role.Id">
                            <button type="button" style="padding:0px;border:none;background:none" onclick="deleteAction('@role.Id',true)">
                                <img src="~/images/Delete.png" style="width:30px; height:30px" />
                            </button>
                        </span>

                        <span style="display:none" id="confirmDeleteSpan_@role.Id">
                            Are you sure?
                            <button type="submit" style="padding:0px;background:none;border:none;">
                                <img src="~/images/yesicon.png" alt="Alternate Text" style="width:30px; height:30px" />
                            </button>
                            <button type="button" style="padding:0px;background:none;border:none;" onclick="deleteAction('@role.Id',false)">
                                <img src="~/images/noicon.png" alt="Alternate Text" style="width:30px; height:30px" />
                            </button>
                        </span>
                    </form>
                </td>
            </tr>
            }
         }
    </table>

@section Scripts{
    <script>

        var deleteAction = (roleId, confirmDelete) => {
            let deleteSpan = document.querySelector(`#deleteSpan_${roleId}`);
            let confirmDeleteSpan = document.querySelector(`#confirmDeleteSpan_${roleId}`)

            if (confirmDelete) {
                deleteSpan.style.display = "none";
                confirmDeleteSpan.style.display = "inline";
            } else {
                deleteSpan.style.display = "inline";
                confirmDeleteSpan.style.display = "none";
            }
        }
    </script>
}
